{% extends "base.html" %}

{% block title %}Admin: Add New Product{% endblock %}

{% block content %}
<div class="add-product">
    <h1>Admin: Add New Product</h1>
    
    {% if current_user.is_admin %}
    {% if session['admin_logged_in'] %}
    <form action="{{ url_for('routes.add_product') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" placeholder="Product Name" id="name" name="name" required>
        </div>
        <div class="form-group">
            <input type="number" placeholder="Price" id="price" name="price" step="0.01" required>
        </div>
        <div class="form-group">
            <textarea id="description" placeholder="Description" name="description" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="img">Product Image:</label><br>
            <input type="file" id="img" name="img" accept="image/*" required>
        </div>
        <button type="submit">Add Product</button>
    </form>
    {% else %}
        <p>You must be logged in as an admin to add products. <a href="{{ url_for('routes.admin_login') }}">Login as Admin</a></p>
    {% endif %}
</div>
{% endblock %}
